.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8em;
  width: 40%;
  position: relative;
}

.inputFormik {
  height: 2em;
  border-radius: 12px;
  padding: 2px 1em;
  outline-offset: 2px;
  outline-color: #40e0d0;
}

.errorMessage {
  position: absolute;
  opacity: 0.6;
  font-size: 0.8em;
}

label {
  margin-bottom: 6px;
  font-weight: 600;
}

.submit {
  margin: 1.2em;
  padding: 1em 2em;
  font-weight: 600;
}
