@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  font-size: calc(12px + 0.7vh);
}

body {
  background-color: #e0ffff;
}

.shadow {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.big-shadow {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
}

.button {
  transition: all 200ms;
  background-color: white;
  border-radius: 1em;
  outline-style: none;
  font-weight: 600;
}

.title {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 4vh;
}

.enabled:hover {
  outline: 0.3em solid #40e0d0;
  color: #40e0d0;
}

.disabled {
  background-color: rgb(240, 240, 240);
  opacity: 0.7;
}
