.buttonHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-height: 350px;
  max-width: 350px;
  height: 40vh;
  width: 20vw;
  padding: 0em 2em;
  border-radius: 1em;
  outline-style: none;
  transition: all 200ms;
  background-color: white;
}
